/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---- Custom Styling ----*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    color: var(--textlight);

}
/* ---- Variables ---- */
:root{
    --primary:rgb(105,198,186);
    --secondary:rgb(198,105,149);
    --textdark:rgb(33,37,41);
    --textlight:rgb(105,108,108);
}
/*---- General section----*/

.container{
    max-width: 1330px;
    width: 100%;
    margin: 0 auto;
    
    box-shadow:  1px 1px 6px rgba(0, 0, 0, 0.3);
}
.padding{
    padding: 80px 0;
}
.matop{
    margin-top: 48px;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.font-zero{
    font-size: 0;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-end{
    justify-content: flex-end;
}
.item-start{
    align-items: flex-start;
}
.stretch{
    align-items: stretch;
}
.column{
    flex-direction: column;
}
.flex-20{
    flex: 0 1 20%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-46{
    flex: 0 1 46%;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-50{
    flex: 0 1 50%;
}
.grow{
    flex: 1 1 auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.width-full{
    width: 100%;
}

/*----Buttons ----*/


.btn{
    display: inline-block;
    padding: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out;
}
.btn:hover{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
}

.btn-primary{
    background-color: var(--primary);
    color: #fff;
}

.btn-secondary{
    background-color: #fff;
    color: var(--primary);
}


/*---- NAVBAR ----*/

.navbar{
    padding: 32px 0px;
}
.navbar .container{
    padding: 0 160px;
    box-shadow: none;
}
.brand{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--textdark);
}
.brand img{
    margin-right: 12px;
}

.nav-menu-item{
    margin-left:48px ;
}
.nav-menu-item a{
    color: var(--textdark);
    font-weight: 700;
    font-size: 14px;
}
.nav-menu-item a:hover{
    color: var(--primary);
}
.nav-menu-item .active{
    color: var(--primary);
}

/* ---- Main section ----*/
main{
    background-color: rgb(230,230,230);
}

/*----hero section----*/
.hero{
    background: linear-gradient(to bottom, rgba(0,0,0,0.678),rgba(0,0,0,0.678)) , url(/assets/banner.jpg) center center/cover no-repeat;
    padding: 120px 0;
    text-align: center;
}

.hero-heading{
    font-size: 46px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
    
}
.hero-subheading{
    font-size: 20px;
    word-spacing: 3px;
    color: #fff;
    font-weight: 300;
    margin-top: 16px;

}
.icon-box{
    margin:20px 0px ;
    color: #fff;
}
.icon-box i{
    padding: 20px;
    border-radius: 50%;
    background-color: var(--primary);
}
/*----Hero form ----*/
.form-control{
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 12px 16px;
    border: 1px solid transparent;
    color:var(--textdark);
}
.form-control:focus{
    border-color: var(--primary);
}
.form-control::placeholder{
    color: #ccc;
}
form .btn{
    width: 100%;
    border: 0;
    box-shadow: none;
}
form{
    background-color: #fff;
    max-width: 950px;
    margin: 0 auto;
    padding:32px ;
    margin-top: 80px;
}
label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--textdark);
    text-align: left;
    margin-bottom: 8px;
}

/* ---- About section-----*/
.about{
    background-color: #efefef;
}
.about-wrapper{
    max-width:950px ;
    margin: 0 auto;
}
.about h2{
    font-size: 36px;
    color: var(--textdark);
    text-transform: uppercase;
}
.about h2 strong{
    font-weight: 700;
}
.about p{
    margin: 32px 0px;
}

/*-----Blog section ----*/

.article{
    background:#fff;
}
.article-col-left{
    position: relative;
}
.nav-btn-container{
    position: absolute;
    top: 50%;
    
    
}
.nav-btn-container-right{
    right:60px;
    
}
.nav-btn-container-left{
    left: 48px;
    
}
.nav-btn{
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    margin-left: 12px;
}
.nav-btn-icon{
    width: 32px;
    height: 32px;
    background-color: rgb(224,223,221);
    border-radius: 50%;

}
.nav-btn i{
    color: #000;;
}
.article-col-right{
    padding: 32px;
    background-color: var(--primary);
    color: #fff;
    position: relative;
    z-index: 1;
    
}
.left{
    left: -60px;   
}
.right{
    right: -60px;
}
.article h3{
    font-size: 36px;
    margin-bottom: 12px;
}
.article p{
    margin-bottom: 12px;
}
.article img{
    width: 100%;
}
.bg-secondary{
    background-color: var(--secondary);
}

/*-----Maps section----*/

 

.maps .grow{
    padding: 30px 0px; 
    background-color: var(--primary);  
}
.maps p{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 8px;
}
.maps .active{
    background-color: var(--secondary);
}
.maps .grow:hover{
    background-color: var(--secondary);
}
.recommended-item{
    max-width: 950px;
    margin: 0 auto;
    background-color: var(--primary);
    margin-bottom: 32px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
   
}

.recommended-item-content{
    padding: 32px;
    background-color: #fff;
    position: relative;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.recommended-item h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: Uppercase;
    color: var(--textdark);
    
}
.recommended-item h4{
    font-weight: 600;
    font-size: 14px;
    color: var(--secondary);
    margin-bottom: 12px ;
}
.recommended-item p{
    font-size: 14px;
    font-weight: 300;
    color: var(--textlight);

}
.recommended-item-pricing h4{
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}
.recommended-item-pricing a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}
.btn-curve{
    position: absolute;
    right: -22px;
    top: 0px;
    height: 100%;
}

/*---- Contact section----*/

.contact{
    position: relative;
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4)
}
.contact form{
    position: absolute;
    z-index: 2;
    right: 80px;
    top: 0;
    width: 30%;
}
.contact .form-control{
   
    margin-bottom: 12px;
    background-color: #f5f5f5;
    
}
/*---- Footer----- */
.footer{
    padding: 48px;
    background-color: var(--primary);
    color: #fff;
}